# Configurações do Backend
NODE_ENV=production
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
PORT=8080

# Banco de Dados
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=whaticket
DB_PASS=suasenha
DB_NAME=whaticket

# JWT
JWT_SECRET=mude_isso_para_algo_seguro
JWT_REFRESH_SECRET=mude_isso_tambem

# OpenAI API Key (Adicione sua chave aqui)
OPENAI_API_KEY=sk-qualquer-coisa

# Configurações de Email (Opcional)
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=